<!DOCTYPE html>
<html ng-app="exercisesApp">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body ng-controller="ExercisesCtrl">

  <div class="container">

    <h1 class="text-center">michael is not da bomb</h1>
    <br>

    <!-- open the modal -->
    <div class="text-center">
      <button type="button" class="btn btn-default" ng-click="openModal()" name="button">
        #levelup
      </button>
    </div>
    <br>

    <div class="row">

      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th> </th>
              <th class="text-center">Project</th>
              <th class="text-center">Description</th>
              <th class="text">Tags</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr ng-repeat="exercise in exerciseList">
              <td data-id={{exercise._id}}>
                <i ng-click="openForEdit($event)" class="fa fa-pencil-square-o text-info"></i>  <i ng-click="deleteExercise($event)" class="fa fa-times text-danger"></i>
              </td>
              <td><p>{{exercise.name}}</p></td>
              <td><p>{{exercise.description}}</p></td>
              <td><span ng-repeat="tag in exercise.tags" class="label label-primary">{{tag}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>


  <!-- form modal -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{form.title}}</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="nameInput">Name</label>
              <input ng-model="ex.name" id="nameInput" type="text" class="form-control" placeholder="Exercise name">
            </div>
            <div class="form-group">
              <label for="descInput">Description</label>
              <textarea ng-model="ex.description" id="descInput" class="form-control" rows="8" cols="40"></textarea>
            </div>
            <div class="form-group">
              <label for="tagsInput">Tags</label>
              <input ng-model="ex.tags" type="text" class="form-control" placeholder="Assign tags">
              <p class="help-block">
                Enter a comma separated list of tags.
              </p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-click="handleSubmit()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js" charset="utf-8"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-route.min.js" charset="utf-8"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script src="../js/services.js" charset="utf-8"></script>
  <script src="../js/controllers.js" charset="utf-8"></script>
</body>
</html>
